<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Calendar</title>
        <link rel="stylesheet" type="text/css" href="/static/site.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.css" />
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
        <script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <link rel="stylesheet" href="../static/dropdown.css">
        <script src='../static/burgermenu.js'></script>
        <script src='../static/position.js'></script>
        <link rel="stylesheet" href="../static/navbar2.css">
    </head>

    <body>
        <script src='/static/navchanger.js'></script>

        <div class="navbar">
            <div class="topnav-right">
                <a href="home.html" class="navbar-brand">Home</a>
            </div>
            <span style="font-size:30px;cursor:pointer" onclick="toggleNav()">&#9776;</span> 
            <div id="mySidepanel" class="sidepanel">
                <a href="about.html" class="navbar-item">About</a>
                <a href="focus.html" class="navbar-item">Focus</a>
                <a href="calendar.html" class="navbar-item">Calendar</a>
                <a href="checklist.html" class="navbar-item">Checklist</a>
                <a href="settings.html" class="navbar-item">Settings</a>
                <a href="logout.html" class="navbar-item">Logout</a>
            </div>
        </div>

        <div class="calendarcss">
            <div id="calendar"></div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    let calendarElement = document.getElementById('calendar');
                    let calendar = new FullCalendar.Calendar(calendarElement, {
                        events: [
                            {
                                title: 'Sample Task',
                                start: '2023-10-10',
                                backgroundColor: getRandomColor(),
                                classNames: ['custom-event']
                            }
                        ],
                    });
                    calendar.render();
                    function getRandomColor() {
                        const letters = '0123456789ABCDEF';
                        let color = '#';
                        for (let i = 0; i < 6; i++) {
                            color += letters[Math.floor(Math.random() * 16)];
                        }
                        return color;
                    }
                });
            </script>
            <hr/>
            <footer>
                <p>&copy; Mangrove 2023</p>
            </footer>
        </div>
    </body>
</html>