<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/inputs.css">
    <link rel="stylesheet" href="../static/buttons.css">
    <link rel="stylesheet" href="../static/dropdown.css">
    <link rel="stylesheet" href="../static/navbar2.css">
    <link rel="stylesheet" href="../static/checklist2.css">
    <script src='../static/burgermenu.js'></script>
    <script src='../static/position.js'></script>
    <script src='../static/bgchanger.js'></script>
    <script src='../static/navchanger.js'></script>
    <style>
        input[type=submit] {
            font-family: "Asap", sans-serif;
            cursor: pointer;
            color: #fff;
            text-transform: uppercase;
            width: 80px;
            border: 0;
            padding: 10px 0;
            margin-top: 10px;
            margin-left: -5px;
            border-radius: 5px;
            background-color: #534f44;
            transition: background-color 300ms;
        }
    </style>
    <title>Checklist</title>
</head>
<body>
    <script src='../static/navchanger.js'></script>
    <div class="navbar">
        <div class="topnav-right">
            <a href="home.html" class="navbar-brand">Home</a>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="toggleNav()">&#9776;</span> 
        <div id="mySidepanel" class="sidepanel">
            <a href="about.html" class="navbar-item">About</a>
            <a href="home.html" class="navbar-item">Home</a>
            <a href="focus.html" class="navbar-item">Focus</a>
            <a href="calendar.html" class="navbar-item">Calendar</a>
            <a href="checklist.html" class="navbar-item">Checklist</a>
            <a href="settings.html" class="navbar-item">Settings</a>
            <a href="login.html" class="navbar-item">Login</a>
            <a href="register.html"class="navbar-item">Register</a>
        </div>
    </div>
    <br>
    <div class="backgroundbox">
        <form name='add-task-form' action='#' method='post'>
            <label> Task Name </label>
            <input name="task_name" type="text" required>
            <label> Description </label>
            <input name="course_category" type="text" required>
            <br>
            <span>
                <label for="month">Month:</label>
                <select name="month" id="month"></select>
            </span>
            <span>
                <label for="day">Day:</label>
                <select name="day" id="day"></select>
            </span>
            <span>
                <label for="year">Year:</label>
                <select name="year" id="year"></select>
            </span>
            <input name="time" type="text" class="time-pickable" readonly>
            <script src='/static/script3.js'></script>
            <input type="submit" value="Add Task">
        </form>
        <script src='../static/script2.js'></script>
        <br>
        <div id="task-list">
            <p>Task</p><p>Description</p><p>Due Date</p><p></p>
            <p>Sample Task</p><p>Sample Description</p><p>2023-10-10</p><a href="#">Delete</a>
        </div>
    </div>
</body>
</html>